.button{
background: $purple;
 border: none;
border-bottom: .6rem solid darken($purple,10%);
color: white;
font-weight: bold;
font-size: $m-size;
margin-bottom: $s-size;
padding: 2.4rem;
width: 50%;
}
.button-modal{
background: $red;
 border: none;
border-bottom: .6rem solid darken($red,10%);
color: white;
font-weight: bold;
font-size: $s-size;
margin-bottom: $s-size;
padding: 1.4rem;
width: 30%;
align-self: center;
}

